@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Learning Management System</h1>
    <p class="lead"> </p>
    <p><a href="~/Workshop/Index" class="btn btn-primary btn-lg">View Lectures &raquo;</a></p>
</div>

