
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<fieldset>
    <center>
        <h2>Create</h2>
        <form action="~/Workshop/Create" method="post">
            <b>Enter Topic</b> <input type="text" name="topic" /><br /><br />
            <b>Description</b> <input type="text" name="desc" /><br /><br />
            <b>Enter Faculty</b> <input type="text" name="present" /><br /><br />
            <b>Enter Location</b> <input type="text" name="location" /><br /><br />
            <input type="submit" value="Add Workshop" />
        </form>
    </center>
</fieldset>